<!-- <div>
    <p>

        Gestión de Intercambio
    </p>
    <img />
</div> -->

<!--
<div class="header">
    <div>
        <p>
            

        </p>
        <img class="point center" src="/assets/img/logo-banco-falabella.png" />
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
       
    </div>
</div>
-->

<mat-toolbar color="primary" class="expanded-toolbar">
    <span style="padding-top: 1.5em;">
      
      <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
      <button mat-button routerLink="/resultado">preferencia</button>
      
    </span>

    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
    
  </button>
</mat-toolbar>


<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>


</mat-menu>