<table style="width: 50%;
align-content: center;
float: left;
margin: 4em 22em;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">



    <!-- correo Column -->
    <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="bebida">
        <th mat-header-cell *matHeaderCellDef> Preferencia </th>
        <td mat-cell *matCellDef="let element"> {{element.bebida}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<!-- Copyright 2020 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->