<app-header (toggleSideBarForMe)="sideBarToggler($event)"></app-header>

<!-- <mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
       
    </mat-drawer>

    

</mat-drawer-container> -->
<router-outlet></router-outlet>

<app-loader></app-loader>
<!-- <app-footer></app-footer> -->