/* :host {
    display: flex;
    flex-direction: column;
    height: 100%;
    .mat-drawer-side {
        border-right: none;
        background-color: #fafafa;
    }
}
mat-drawer{
    width: 300px;
}

mat-drawer-container {
    height: 100%;
}

mat-drawer-content {
    padding: 20px;
}
 */