.fondo {
    /* The image used */
    /* Half height */
    height: 85%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}