    // Custom Theming for Angular Material
    // For more information: https://material.angular.io/guide/theming
    @import '~@angular/material/theming';
    // Plus imports for other components in your app.
    // Include the common styles for Angular Material. We include this here so that you only
    // have to load a single css file for Angular Material in your app.
    // Be sure that you only ever include this mixin once!
    @include mat-core();
    // Define the palettes for your theme using the Material Design palettes available in palette.scss
    // (imported above). For each palette, you can optionally specify a default, lighter, and darker
    // hue. Available color palettes: https://material.io/design/color/
    $project-test-falabella-primary: mat-palette($mat-indigo);
    $project-test-falabella-accent: mat-palette($mat-pink, A200, A100, A400);
    // The warn palette is optional (defaults to red).
    $project-test-falabella-warn: mat-palette($mat-red);
    // Create the theme object (a Sass map containing all of the palettes).
    $project-test-falabella-theme: mat-light-theme($project-test-falabella-primary, $project-test-falabella-accent, $project-test-falabella-warn);
    // Include theme styles for core and each component used in your app.
    // Alternatively, you can import and @include the theme mixins for each component
    // that you are using.
    @include angular-material-theme($project-test-falabella-theme);
    /* You can add global styles to this file, and also import other style files */
    
    html,
    body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
    
    @font-face {
        font-family: neutralFace;
        src: url(assets/font/neutral-face/NeutralFace.otf) format("opentype");
    }
    
    @font-face {
        font-family: marnie;
        src: url(assets/font/marnie-free-weight-jamtype-design/OTF/JTMarnie-Light.otf) format("opentype");
    }
    
    h1 {
        text-align: center;
    }