<mat-card>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>Formulario de encuesta</h2>

            <mat-form-field class="full-width-input">
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error>
                    Por favor, ingrese un correo valido
                </mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="full-width-input">
                <input matInput placeholder="Coca-Cola preferida" formControlName="bebida" required>
                <mat-error>
                    Ingrese su tipo de coca-cola preferida
                </mat-error>
            </mat-form-field> -->
            <mat-form-field class="full-width-input">
                <mat-label placeholder="Cual es su coca-cola preferida">Coca-cola preferida *</mat-label>
                <mat-select formControlName="bebida">
                    <mat-option [value]="1">Light</mat-option>
                    <mat-option [value]="2">Sin azúcar</mat-option>
                    <mat-option [value]="3">Normal</mat-option>
                    <mat-option [value]="4">No tomo</mat-option>
                </mat-select>
                <mat-error>
                    Ingrese su tipo de coca-cola preferida
                </mat-error>
            </mat-form-field>
            <br>
            <button [disabled]="formIsOk()" mat-raised-button color="primary">Enviar encuesta</button>
        </form>
    </mat-card-content>
</mat-card>